@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

#titlebox {
  text-align: center;
}

.container-fluid-1 {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#modal-js-movies {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

#navbarSearch {
  margin: 1rem;
}

#navbar-menu {
  font-weight: 500;
  margin-right: 0.2rem;

}

#navbar-drop {
  margin-right: 0.2rem;
}

.navbar-item:hover .navbar-dropdown {
  display: block;
}

#dropdown-categories {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

#categories-button {
  margin-top: 2rem;
}

#categories-list {
  padding-right: 4.5rem;
  font-weight: 700;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#footer {
  margin-top: 30rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}